body{
    padding: 50px 0px 0;
    position: relative;
    top: 10px;
    background-color: black;
    
}
.cover{
    padding-bottom: 20px;  
    top: 10px; 
}
.container{
    border-radius: 50px 0px ;
    background-color: rgba(155, 147, 147, 0.4);
    opacity: 1px;
    width: 100%;
    height: 450px;
    position: relative;
    top: 40px;
    padding: 40px 0;
    padding-left: -200px;
}

.header{
    text-align: center;
    top: 30px;
    position: relative;
    font-size:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}
.content{
    position: relative;
    bottom: 5px;
}
.content form{
    position: relative;
    top: 80px;
    text-align: center;
    padding: 5px 0px;
}

.content form input{
    width: 400px;
    height:30px;
    border-radius: 5px ;
}

.content form:last-child > input{
    padding-bottom:40px;
}

.footer{
    position: relative;
    text-align: center;
    top: 100px;
}
.footer button{
    background-color: #8C6F4D;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.footer button:hover{
    background-color:#755a3b;
    cursor: pointer;
    border-radius: 20px;
}
.socials ul li a img{
    position: relative;
    height: 40px;
    top: 120px;
}
.socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.socials ul li{
    padding-right: 40px;
}
